<div  style="width: 300px; height: 255px; background-repeat: no-repeat; background-size:initial; background-image:url('https://s3-eu-west-1.amazonaws.com/storage.keptify.com/chicnova/overlay/chicnova_mobile.png'); z-index: -1;">

    <img class="cartbooster-popup-close" src="https://s3-eu-west-1.amazonaws.com/storage.keptify.com/clicktime/overlay/clicktime_close.jpg" style="display:block; width:15px; position: absolute; right:6px; top: 6px; cursor: pointer; background-color:transparent" />
    
        
    <form>
        <!-- STEP 2 -->
            <!-- The code  -->
        <div  
            style="display: block;position: absolute;left: 25px;top: 153px;width: 105px;height: 30px;color: rgb(0, 0, 0);font-family: Tahoma;font-size: 11px;text-align: left;text-indent: 10px;line-height: 30px;background-color: rgb(235, 235, 235); border-radius: 0 !important">
            <b>12click16</b>
            
        </div>
        
        <!-- continue to site -->
        <a  
            href="RECOVERYLINK#http://click.linksynergy.com/fs-bin/click?id=3g0WLfiznaY&offerid=394002.111&type=3&subid=0&LSNSUBSITE=LSNSUBSITE"
            style="
            display: block;
            position: absolute;
            cursor: pointer;
            left: 127px;
            top: 153px;
            width: 95px;
            height: 30px;
            color: #ffffff;
            background-color: #ff0000;
            font-family: Tahoma, sans-serif;
            font-size: 12px;
            text-align: center;
            line-height: 30px;
   ">
            Visit Site
        </a>

        
        <!-- STEP 1 -->
               
                <!-- Redeem your code -->
        <a  class="cb-showpromocode"
            style="
            display: block;
            position: absolute;
            cursor: pointer;
            left: 127px;
            top: 153px;
            width: 95px;
            height: 30px;
            color: #ffffff;
            background-color: #ff0000;
            font-family: Tahoma, sans-serif;
            font-size: 12px;
            text-align: center;
            line-height: 30px;
   ">
             Redeem Code 
        </a>
        
        
        
        
            <!-- Email field -->
        <input  
            name="THEIRFIELDNAME" class="keptify_email_field" placeholder="Email address" 
            style="display: block;position: absolute;left: 25px;top: 153px;width: 105px;height: 30px;color: rgb(0, 0, 0);font-family: Tahoma;font-size: 11px;text-align: left;text-indent: 10px;line-height: 30px;background-color: rgb(235, 235, 235); border-radius: 0 !important;" type="text" value="">
    
    </form>
 </div>