    						<div  style="width: 300px; height: 255px; background-repeat: no-repeat; background-size:initial; background-image:url('https://s3-eu-west-1.amazonaws.com/storage.keptify.com/batzCo/overlay/batzCo_mobile.png'); z-index: -1;">
    <style>
        input {
            border: 0 !Important;
        }
    </style>
    <img class="cartbooster-popup-close" src="https://s3-eu-west-1.amazonaws.com/storage.keptify.com/batzCo/overlay/close.png" style="display:block; width:15px; position: absolute; right:6px; top: 6px; cursor: pointer; background-color:transparent" />
    
        
    <form>
        <!-- STEP 2 -->
            <!-- The code  -->
        <div  
            style="display: block;position: absolute;left: 165px;top: 175px;width: 125px;height: 32px;color: rgb(0, 0, 0);font-family: Tahoma;font-size: 11px;text-align: center;text-indent: 10px;line-height: 32px;background-color: rgb(235, 235, 235);border-radius: 0 !important;     margin: 0 !important;
    padding: 0 !important;
    border: 0 !Important;
    outline: 0 !important;">
            <b>BATZ5PVE15</b>
            
        </div>
        
        <!-- continue to site -->
        <a  
            href="RECOVERYLINK#http://www.paidonresults.net/c/40226/1/1235/0"
            style="
            display: block;
            position: absolute;
            cursor: pointer;
            left: 165px;
            top: 210px;
            width: 125px;
            height: 32px;
            color: #ffffff;
            background-color: #0ea037;
            font-family: Tahoma, sans-serif;
            font-size: 12px;
            text-align: center;
            line-height: 32px;
                margin: 0 !important;
    padding: 0 !important;
    border: 0 !Important;
    outline: 0 !important;
   ">
            Visit Site
        </a>

        
        <!-- STEP 1 -->
               
                <!-- Redeem your code -->
        <a  class="cb-showpromocode"
            style="
            display: block;
            position: absolute;
            cursor: pointer;
            left: 165px;
            top: 210px;
            width: 125px;
            height: 32px;
            color: #ffffff;
            background-color: #0ea037;
            font-family: Tahoma, sans-serif;
            font-size: 12px;
            text-align: center;
            line-height: 32px;
                margin: 0 !important;
    padding: 0 !important;
    border: 0 !Important;
    outline: 0 !important;
   ">
             Redeem Code 
        </a>
        
        
        
        
            <!-- Email field -->
        <input  
            name="THEIRFIELDNAME" class="keptify_email_field" placeholder="Email address" 
            style="display: block;position: absolute;left: 165px;top: 175px;width: 125px;height: 32px;color: rgb(0, 0, 0);font-family: Tahoma;font-size: 11px;text-align: left;text-indent: 10px;line-height: 32px;background-color: rgb(235, 235, 235);border-radius: 0 !important;     margin: 0 !important;
    padding: 0 !important;
    border: 0 !Important;
    outline: 0 !important;" type="text" value="">
    
    </form>
 </div>