<div  style="width: 720px; height: 450px; background-repeat: no-repeat; background-size:initial; background-image:url('https://s3-eu-west-1.amazonaws.com/storage.keptify.com/partysupplies/overlay/partysuppliespopups.png');z-index: -1;">
    <style type="text/css">
        .kep_field {
            border: none !important;
        	outline: none !important;
    	}
    	.kep_field:hover, .kep_field:focus {
    		border: none !important;
    		outline: none !important;
    	}
    </style>
    <img   class="cartbooster-popup-close" src="https://cdn.keptify.com/xshared/close6.png" style="display:block; width:45px; position: absolute; right: -22px; top:  -23px; cursor: pointer; background-color:transparent" />
        
   
    <form>
        <!-- STEP 2 -->
            <!-- The code  -->
        <div  
            style="display: block;position: absolute;left: 205px;top: 359px;width: 180px;height: 38px;color: #000;font-family: Tahoma;font-weight: bold;font-size: 16px;text-align: center;text-indent: 0px;line-height: 38px;background-color: #fff;border: none;">
            coupon code
    		
		</div>
		
		<!-- continue to site -->
		<a  
            href="RECOVERYLINK#keptify.wpdating.com" 
		    style="
		    display: block;
		    position: absolute;
		    cursor: pointer;
		    left: 400px;
		    top: 362px;
		    width: 120px;
		    height: 30px;
		    color: #ffffff;
		    background-color: #de45bf;
		    font-family: Tahoma, sans-serif;
		    font-size: 16px;
		    text-indent: 35px;
		    line-height: 30px;
		    border-radius: 5px;
		 ">
			<B>Proceed</B>
		</a>
		
		
		
        
        
        
		
		<!-- STEP 1 -->
		       
            	<!-- Redeem your code -->
		<a  
            class="cb-showpromocode" 
			style="
		    display: block;
		    position: absolute;
		    cursor: pointer;
		    left: 400px;
		    top: 362px;
		    width: 120px;
		    height: 30px;
		    color: #ffffff;
		    background-color: #de45bf;
		    font-family: Tahoma, sans-serif;
		    font-size: 16px;
		    text-indent: 35px;
		    line-height: 30px;
		    border-radius: 5px;
		 ">
             Submit
		</a>
        
        
        
        
			<!-- Email field -->
		<input class="kep_field" 
            name="THEIRFIELDNAME"  placeholder="Please enter your email" 
			style="display: block;position: absolute;left: 205px;top: 359px;width: 180px;height: 38px;color: rgb(0, 0, 0);font-family: Tahoma;font-weight: normal;font-size: 12px;text-align: center;text-indent: 0px;line-height: 20px;background-color: #F5F5F5; border: none; border: 0;" type="text" value="">
	
			<!-- First name field -->

	</form>
 </div>
