<div  style="width: 530px; height: 511px; background-repeat: no-repeat; background-size:initial; background-image:url('https://s3-eu-west-1.amazonaws.com/storage.keptify.com/cestni/overlay/cestca_desktop.png');z-index: -1;">
    <style type="text/css">
    	input.keptify_email_field {
		    border: none !important;
		}
    </style>
    <img   class="cartbooster-popup-close" src="https://cdn.keptify.com/xshared/close6.png" style="display:block; width:45px; position: absolute; right: -22px; top:  -23px; cursor: pointer; background-color:transparent" />
    
    <img   class="keptify-logo" src="https://s3-eu-west-1.amazonaws.com/keptify-images/keptify.admin/1461756390662$_dummy-logo.png" style=" display:none; text-shadow:3px 3px 3px #666; width: 125px; position: absolute; left: 321px; top: 31px; background-color:transparent" />
    
    <div   class="custom-text-1" style="display:none; text-shadow:3px 3px 3px #2e2e2e; border-radius: 0px; position: absolute; left: 161px; top: 106px;  font-family: Century Gothic; font-size: 40px; text-align: center; color: #ffffff; cursor: default">SIGN UP NOW AND GET</div>
    
    <div   class="custom-text-2" style="display:none; text-shadow:3px 3px 3px #2e2e2e; border-radius: 0px; position: absolute; left:  261px; top:  151px; font-family:Century Gothic; font-size: 76px; text-align: center; color: #ffffff; cursor: default  "><b>$20 Off</b></div>
    
    <div   class="custom-text-3" style=" display:none; text-shadow:3px 3px 3px #2e2e2e; border-radius: 0px; position: absolute; left:  196px; top:  250px; font-family:Century Gothic; font-size: 20px; text-align: center; color: #ffffff; cursor: default  "> Offer available only once per customer</div>
    
    <div   class="custom-text-4" style="display:none; border-radius: 0px; position: absolute; left:  22px; top:  22px; font-family:Courier; font-size: 25px; text-align: center; color: #caf63c; cursor: default  "> </div>    
 
    <div    class="custom-text-5" style="display:none; border-radius: 0px; position: absolute; left:  500px; top:  25px; font-family:Arial; font-size: 25px; text-align: center; color: #ff6740; cursor: default  "> </div>
    
    <form>
        <!-- STEP 2 -->
            <!-- The code  -->
        <div  
            style="display: block;position: absolute;left: 215px;top: 300px;width: 180px;height: 38px;color: rgb(0, 0, 0);font-family: Tahoma;font-size: 12px;text-align: left;text-indent: 10px;line-height: 38px;background-color: rgb(235, 235, 235);">
            FIRST50
            
		</div>
		
		<!-- continue to site -->
		<a  
            href="RECOVERYLINK#http://www.printvenue.com/checkout/cart" 
		    style="
		    display: block;
		    position: absolute;
		    cursor: pointer;
		    left: 390px;
		    top: 300px;
		    width: 120px;
		    height: 38px;
		    color: #ffffff;
		    background-color: #7aaa32;
		    font-family: Tahoma, sans-serif;
		    font-size: 16px;
		    text-indent: 35px;
		    line-height: 38px;
		 ">
			<B>Proceed</B>
		</a>
		
		
		
        
        
        
		
		<!-- STEP 1 -->
		       
            	<!-- Redeem your code -->
		<a  
            class="cb-showpromocode" 
			style="
		    display: block;
		    position: absolute;
		    cursor: pointer;
		    left: 390px;
		    top: 300px;
		    width: 120px;
		    height: 38px;
		    color: #ffffff;
		    background-color: #7aaa32;
		    font-family: Tahoma, sans-serif;
		    font-size: 16px;
		    text-indent: 35px;
		    line-height: 38px;
		 ">
             Submit
		</a>
        
        
        
        
			<!-- Email field -->
		<input  
            name="THEIRFIELDNAME" class="keptify_email_field" placeholder="Email address" 
			style="display: block;position: absolute;left: 215px;top: 300px;width: 180px;height: 38px;color: rgb(0, 0, 0);font-family: Tahoma;font-size: 12px;text-align: left;text-indent: 10px;line-height: 38px;background-color: rgb(235, 235, 235);"
			type="text" value="">
	
			<!-- First name field -->
		<input  
            name="FIELD_FIRSTNAME" placeholder="Your First Name" 
			style="display:none; position: absolute; 
			left: 280px; 
			top: 300px;
			width: 223px; 
			height:38px;
			
			color:#2e2e2e; 
			background-color: #ffffff; 
					
			font-family: Times New Roman;
			font-size: 20px; 
			text-align: center;
			text-indent: 0px;
			line-height: 20px;
			
			border: 0px none #ffffff;"
			type="text" value="">

	</form>
 </div>
